[Reference](https://medium.com/plumbersofdatascience/create-python-flask-web-page-for-data-operations-part-1-39f21e951280)

# Application Frontend
```
<!--etl_insert.html -->
<h1>Enter New Employee Details</h1>
<br>


<script>
//javascript method to populate dropdown values into textfield defined in
//wtf_flask form field name deptno
 function addDept() {
 var mylist = document.getElementById(“myList”);
 document.getElementById(“deptno”).value = mylist.options[mylist.selectedIndex].text;
}
</script>

<form action = “/insert” method = “POST” enctype = “multipart/form-data”>
 {{ form.empno.label }} {{ form.empno }}
 <br> <br>
 {{ form.ename.label }} {{ form.ename }}
 <br> <br>
 {{ form.sal.label }} {{ form.sal }}
 <br> <br>
 {{ form.deptno.label }}

 <!--below section defines the dropdown menu in html-->
 <label for=”myList”></label>
 <select name=”dept” id=”myList” onchange = “addDept()”>
 <option value=”{{list_dept}}” selected>DeptNo</option>

<!--list_dept is a python list-->
<!--in below piece of code we are iterating over list using
    flask jinja template syntax to populate the dropdown-->

 {% for d in list_dept %}
 <option value=”{{d}}”>{{d}}</option>
 {% endfor %}
 </select>

 <!--dropdown logic ends-->

 <p>Selected Department ID value is
 {{ form.deptno }}
 </p>
 <br> <br>
 {{ form.enter}}
</form>
```

# Python API

In [2]:
#etl_api_call.py

from flask import Flask, jsonify, request, render_template, redirect,url_for
from flask_wtf import FlaskForm
from wtforms import FileField, SubmitField, StringField,TextField, FieldList, BooleanField, IntegerField
from etl import etl_data_obj
import random

app=Flask(__name__)
app.config['SECRET_KEY']='vivek2677'

#form definition class, all these values
class insertEmpDetails(FlaskForm):
   empno=TextField("Enter EmployeeID")
   ename=TextField("Enter Employee Name")
   sal=TextField("Enter Salary")
   deptno=TextField("Enter DeptNo")
   enter=SubmitField("Enter")
list_dept=[10,20,30,40]

@app.route('/index')
def etl_process():
   return 'APIfy the ETL method'

@app.route('/etl',methods=['GET'])
def get_data():
   if request.method == 'GET':
   d=etl_data_obj.get_details(random.choice(list_dept))
   print('value returned',d)
   return jsonify(d)

@app.route('/insert', methods=['GET','POST'])
def post_data():
   empd={}
   form=insertEmpDetails()
   if request.method == 'GET':
       return render_template('etl_insert.html',form=form,list_dept=list_dept)
   if request.method == 'POST':
       empno=form.empno.data
       ename=form.ename.data
       sal=form.sal.data
       deptno=form.deptno.data
       empd['empno']=empno
       empd['ename']=ename
       empd['sal']=sal
       empd['deptno']=deptno
       print('emp dict',empd)
       print(etl_data_obj.post_details(empd))
       return redirect(url_for('post_data'))

if __name__ == "__main__":
 app.run(host="0.0.0.0", port=5000, debug = True)

# Application Backend
```html
#etl_api_call.py

import pandas as pd
from sqlalchemy import create_engine
engine = create_engine(‘oracle://scott:scott@oracle’, echo=False)

class etl_data:
 def __init__(self,dept) -> None:
     self.dept=dept
     print(‘dept value’,self.dept)

 def get_details(self,dept):
     print(‘dataframe value’,dept)
     emp_df=pd.read_sql_query(‘select empno,ename,sal,deptno from emp_api’,engine)
     emp_df.head(10)
     emp_df=emp_df[emp_df[‘deptno’]==dept]
     print(emp_df.head(5))
     emp_dict=emp_df.to_dict(orient=’index’)
     return emp_dict

 def post_details(self,empd):
     df_ins=pd.DataFrame([empd],columns=empd.keys())
     print(df_ins.head(5))
     df_ins[‘empno’]=pd.to_numeric(df_ins[‘empno’])
     df_ins[‘sal’]=pd.to_numeric(df_ins[‘sal’])
     df_ins[‘deptno’]=pd.to_numeric(df_ins[‘deptno’])
     #insert df into table
     df_ins.to_sql(‘emp_api’,con=engine,if_exists=’append’,index=False)

#creating object of class
etl_data_obj=etl_data(‘00’)
```